.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  position: relative;
}

.card .position-relative {
  position: relative;
}

.card .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  /* Adjust the badge color */
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}

.card .card-body {
  padding: 1rem;
}

.card-title {
  white-space: nowrap;
 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text.description {
  display: -webkit-box;
  
  -webkit-line-clamp: 3;
 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
}

.card-img-top {
  max-height: 180px;
 
  object-fit: cover;
 
}